.BottomBox{
    border-radius: 12px 2px 6px 1px;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.26);
    padding: 18px;
}

.portLogo{
    display: flex;
    align-items: top center;
    justify-content: center;
    box-sizing: border-box;
    background-image: url('https://sv1.picz.in.th/images/2023/05/10/yJ3URI.png');
    background-position:top;
    background-size: 200px;
    background-repeat: no-repeat;
}

.BottomBox:hover{
    color: whitesmoke;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}
.active {
    color: whitesmoke;
    border-radius: 12px 2px 6px 1px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);   
}

 

